!*.bib
!*.aux
!*.bcf
!*.bbl
doc/*.pdf
doc/*.aux
doc/*.out
doc/*.synctex
auto
MYMETA.yml
MYMETA.json
META.yml
META.json
Build
.vscode
blib/
_build/
dist/*/biber-*
dist/*/scancache
t/tdata/*.rng
t/tdata/*.bbl
t/tdata/*.blg
testfiles/test.bcf.html
testfiles/test.blg
testfiles/test.bbl
dist/build-env-cmds
*_flymake*
*~
.auctex-auto
